<%- include('header') %>
  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
    <a href="/" id="goback">&larr;Back</a>
  </div>
  <p class="box zig-left">1. Welcome to vibhay practicals. <a class="zig-link" href="#">..More</a></p>
  <p class="box zig-right">2. We are going to create brand new apps for user.<a class="zig-link" href="#">..More</a></p>
  <p class="box zig-left" >3. That's could be solve your problems in a click <a class="zig-link" href="#">..More</a></p>
  <p class="box zig-right" >Thanks for reading. &#128518</a></p>
  <%- include('footer') %>