<%- include('header') %>
  
<form method="POST" action="/compose">
    <div class="form-group">
      <!-- <label for="title">Example label</label> -->
      <input type="text" name="title" class="form-control" id="title" placeholder="Enter post title">
    </div>
    <div class="form-group">
      <!-- <label for="content">Another label</label> -->
      <input type="text" name="content" class="form-control" id="content" placeholder="Enter post content">
    </div>
    <div class="form-group">
        <button type="submit" class="form-control">+</button>
      </div>
  </form> 
<%- include('footer') %>